html, body {
	height: 100%;
	/*
 	* Fix taille header / footer
	*/
}
#body-not-connected {
	padding: 58px 0;
}

#body-connected { padding: 74px 0 58px 0; }

main {
	height: 100%;
}

/*main>.row {
	height: 100%;
}*/

.login {
  height: 100%;
}

/* content center (index) */
#aside {
  position: relative;
  right: 0;
	height: 100%;
	display: flex;
    flex-direction: column;
    justify-content: center;
  overflow: auto;
}

.welcome {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bg-section {
  background-color: #C0C0C0;
}
/* ------------------- */

.tache_detail { 
      background-color: white; 
      color : black;
    }

.tache_detail:hover { 
			background-color: #D2853F; 
			color : white;
		}

a.tache { 
	text-decoration: none;
 	color: black;
 }

a.header_nav { 
	text-decoration: none;
 }

 .header_nav:hover {
 	background-color: #444444;
 }

.hr {
  border-left: 2px solid white;
  height: 500px;
}


/* loading connexion */

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-ellipsis div {
  position: absolute;
  top: 27px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: #EEEEEE;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 6px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 6px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 26px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 45px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(19px, 0);
  }
}

/* ------------------- */
